:root {
    --box-width: 360px;
    --tab-side: 28px;
    --mini-tab-side: 21px;
    --tab-hypotenuse: 39.6px; /* tab side * Math.sqrt(2) */
    --mini-tab-hypotenuse: 29.5px;
    --tab-border-size: 2px;
    --tab-border: var(--tab-border-size) solid black;
    --innovation-green: linear-gradient(270deg, #96d5b6, #bbe4cd, #d1eddd);
    --culture-blue: linear-gradient(270deg, #a6b6d7, #c0cee4, #dbe1ef);
    --news-orange: linear-gradient(270deg, #fdbc7a, #fed9b0, #fee6c9);
    --power-red: linear-gradient(270deg, #f1718d, #fde2f0);
    --climate-yellow: linear-gradient(270deg, #cce97b, #d3edac, #e9f6d4);
    --pr-purple: linear-gradient(270deg, #aaacd2, #cbcbe3, #e6e6f1);
    --featured-yellow: radial-gradient(#ffffde, #ffffba, #ffff73);
    --history-blue: linear-gradient(270deg, #9fd0e4, #b3e2ee, #dbf2f7);
    --body-bg: linear-gradient(90deg, #9cca76, #f1718d, #83b9d0, #f7ef81, #f1718d, #f7ef81, #83b9d0, #9cca76);
}

body {
    margin: 0;
    background-image: var(--body-bg);
    font-family: sans-serif;
    font-style: italic;
}

a:hover {
    background: #ffff008a;
}

a:hover:nth-child(2) {
    background: #00f3ff8a;
}

.dateline a:hover {
    background: #ffa700b8;
}

a, a:visited {
    color: black;
    text-decoration: none;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: black;
    opacity: 1; /* Firefox */
}

input {
    border: var(--tab-border);
    text-transform: uppercase;
    font-size: 18px;
    font-style: italic;
    padding: 5px 13px;
    background: var(--body-bg);
}

h1 {
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: normal;
}

ul {
    margin: 0;
    list-style: none;
}

#container, #footer {
    display: flex;
}

#container {
    flex-wrap: wrap;
    justify-content: center;
    /* justify-content: space-around; */
    min-height: 800px;
}

#footer {
    flex-direction: column;
    align-items: flex-end;
    padding-right: 20px;
    position: relative;
}

#footer.lift {
    top: -400px;
}

img.brush {
    width: 140px;
    display: block;
    margin-top: 4px;
}

.box svg.rule {
    padding: 0;
    position: relative;
    left: -17px;
}

.box li {
    font-size: 14px;
    padding: 9px 10px 0 0;
    line-height: 120%;
}

.box h1, .box img.brush {
    position: relative;
    top: -10px;
}

#container .box h1:after {
    content: " ...";
}

.box h1, .box img, .box ul, .box iframe, .box form {
    padding-left: 28px;
}

#container .box {
    min-height: 400px;
    z-index: 100;
}

.box {
    width: var(--box-width);
    text-align: left;
    background: var(--red);
    clip-path: polygon(var(--tab-side) 0px, 100% 0px, 100% 100%, 0% 100%, 0px var(--tab-side));
}
#container .box {
    /* margin: 0 calc(-1 * var(--tab-border-size)) 0 0; */
    /* margin: 0 calc(-1 * var(--tab-border-size)) calc(-1 * var(--tab-side)) 0; */
}
.power-red {
    background-image: var(--power-red);
}
.innovation-green {
    background-image: var(--innovation-green);
}
.culture-blue {
    background-image: var(--culture-blue);
}
.news-orange {
    background-image: var(--news-orange);
}
.climate-yellow {
    background-image: var(--climate-yellow);
}
.pr-purple {
    background-image: var(--pr-purple);
}
.featured-yellow {
    background-image: var(--featured-yellow);
}
.history-blue {
    background-image: var(--history-blue);
}

/* https://stackoverflow.com/questions/16377972/how-to-align-left-last-row-line-in-multiple-line-flexbox */
.empty-space-childs {
    width: var(--box-width); /*the width of the images in this example*/
    height: 0; /*Important! for the divs to collapse should they fall in a new row*/
}

/* .box.placeholder { */
/*     opacity: 0%; */
/*     background-image: none; */
/*     clip-path: none; */
/* } */

svg#header {
    max-width: 800px;
    display: block;
    margin: 0 auto;
}

svg#header text {
    dominant-baseline: central;
    text-transform: uppercase;
    fill: white;
    stroke: black;
    stroke-width: 1;
    font-weight: bold;
    text-anchor: middle;
    font-size: 44px;
}

.box-tab {
    width: calc(100% - var(--tab-side) - var(--tab-border-size));
    left: var(--tab-side);
    background: none;
    border: var(--tab-border);
    border-left: none;
    border-bottom: none;
    position: relative;
    height: calc(var(--tab-side) - var(--tab-border-size));
}

.box-tab:before {
    content: '';
    display: block;
    position: absolute;
    width: 0;
    height: var(--tab-hypotenuse);
    border-left: var(--tab-border);
    transform-origin: 0% 0%;
    transform: rotate(45deg);
    top: calc(-1 * var(--tab-border-size));
}

.box-content {
    height: calc(100% - var(--tab-side) - var(--tab-border-size));
    border: var(--tab-border);
    border-top: none;
    position: relative;
}

.dateline {
    margin-top: 5px;
    text-transform: uppercase;
}

svg.rule polyline {
    fill: none;
    stroke: black;
    stroke-width: 2.4px;
    stroke-miterlimit: 10;
}

.box.mini {
    background-image: var(--innovation-green);
    height: 186px;
    width: 310px;
}

.box.mini.up {
    clip-path: polygon(0% 0%, calc(var(--tab-border-size) + var(--tab-border-size) / 2) 0px, calc(var(--mini-tab-side) + var(--tab-border-size) / 2) calc(var(--mini-tab-side) - var(--tab-border-size)), 100% calc(var(--mini-tab-side) - var(--tab-border-size)), 100% 100%, 0% 100%, 0px 0px);
    height: 155px;
}

.box.mini.up .box-tab {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: var(--tab-border);
    width: calc(100% - var(--mini-tab-side));
    left: var(--mini-tab-side);
    height: calc(var(--mini-tab-side) - var(--tab-border-size));
}

.box.mini.up .box-tab:before {
    transform: rotate(-45deg);
    top: auto;
    left: calc(-1 * var(--mini-tab-side));
    height: var(--mini-tab-hypotenuse);
}    

.box.mini.up .box-content {
    position: relative;
    height: calc(100% - var(--mini-tab-side) - var(--tab-border-size));
}

.box.mini.up .box-content:before {
    content: "";
    display: block;
    width: 0;
    height: var(--mini-tab-side);
    border-left: var(--tab-border);
    position: absolute;
    top: calc(-1 * var(--mini-tab-side));
    left: calc(-1 * var(--tab-border-size));
}

.box h1 img {
    display: inline;
    vertical-align: middle;
    height: 1.7em;
    padding: 0;
    margin: 0;
    position: relative;
    top: -4px;
    left: 8px;
}

.icon-bar {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 20px;
    top: 5px;
    align-items: center;
}

.icon-bar img {
    padding: 0;
    display: block;
}

#music-box .icon-bar img:nth-child(1) {
    width: 32px;
    height: 40px;
}
#music-box .icon-bar img:nth-child(2) {
    width: 37px;
    height: 46px;
}
#music-box .icon-bar img:nth-child(3) {
    width: 36px;
    height: 30px;
    margin-top: 5px;
}

#music-box {
    background-image: var(--innovation-green);
}
#newsletter-box {
    background-image: var(--power-red);
}
#submit-link-box {
    background-image: var(--history-blue);
}
#archive-box {
    background-image: var(--news-orange);
}

#music-box .embed {
    position: relative;
    top: -7px;
    right: 5px;
}

#newsletter-box input::placeholder {
    text-align: right;
}

.box.mini.up h1 {
     top: 52px;
}

.box.mini.up form {
    position: relative;
    top: 58px;
}

.box.mini.up input {
    width: 165px;
}

.box.mini.up .icon-bar {
    top: 15px;
    right: 23px;
}

#submit-link-box {
    margin-top: calc(-1 * var(--mini-tab-side));
}

.box.mini.up .icon-bar img:nth-child(1) {
    width: 45px;
    height: 62px;
}
.box.mini.up .icon-bar img:nth-child(2) {
    width: 43px;
}

#newsletter-box .icon-bar {
    top: 74px;
}

#newsletter-box .icon-bar img {
    width: 43px;
    height: 40px;
}
