:root {
    --box-width: 360px;
    --tab-side: 28px;
    --mini-tab-side: 21px;
    --tab-hypotenuse: 39.6px; /* tab side * Math.sqrt(2) */
    --mini-tab-hypotenuse: 29.5px;
    --tab-border-size: 2px;
    --tab-border: var(--tab-border-size) solid black;
    --innovation-green: linear-gradient(270deg, #96d5b6, #bbe4cd, #d1eddd);
    --culture-blue: linear-gradient(270deg, #a6b6d7, #c0cee4, #dbe1ef);
    --news-orange: linear-gradient(270deg, #fdbc7a, #fed9b0, #fee6c9);
    --power-red: linear-gradient(270deg, #f1718d, #fde2f0);
    --climate-yellow: linear-gradient(270deg, #cce97b, #d3edac, #e9f6d4);
    --pr-purple: linear-gradient(270deg, #aaacd2, #cbcbe3, #e6e6f1);
    --featured-yellow: radial-gradient(#ffffde, #ffffba, #ffff73);
    --history-blue: linear-gradient(270deg, #9fd0e4, #b3e2ee, #dbf2f7);
    --body-bg: linear-gradient(90deg, #9cca76, #f1718d, #83b9d0, #f7ef81, #f1718d, #f7ef81, #83b9d0, #9cca76);
}

a {
   outline: 0;
}

body {
    margin: 0;
    background-image: var(--body-bg);
    font-family: sans-serif;
    font-style: italic;
    background-size: 1300px;
    background-position: center;
}

a, a:visited {
    color: black;
    text-decoration: none;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: black;
    opacity: 1; /* Firefox */
}

input {
    border: var(--tab-border);
    text-transform: uppercase;
    font-size: 18px;
    font-style: italic;
    padding: 5px 13px;
    background: var(--body-bg);
}

h1 {
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: normal;
}

h2 {
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: normal;
}

ul {
    margin: 0;
    list-style: none;
}

#container, #footer {
    display: flex;
}

#container {
    flex-wrap: wrap;
    justify-content: center;
    /* justify-content: space-around; */
    min-height: 800px;
}

#footer {
    flex-direction: column;
    align-items: flex-end;
    overflow: hidden;
    padding-right: 37px;
}

#footer.lift {
    margin-top: -400px;
}

svg.brush {
    width: 140px;
    display: block;
    margin: 4px 0 0 var(--tab-side);
}

.box svg.rule {
    padding: 0;
    position: relative;
    left: -17px;
}

.box li {
    position: relative;
    font-size: 14px;
    padding: 9px 10px 0 0;
    line-height: 120%;
}

.box h1, .box svg.brush {
    position: relative;
    top: -10px;
}

#container .box h1:after {
    content: " ...";
}

.box h1, .box img, .box ul, .box iframe, .box form {
    padding-left: var(--tab-side);
}

#container .box {
    min-height: 400px;
    z-index: 100;
}

.box {
    width: var(--box-width);
    text-align: left;
    position: relative;
}
.box .inner {
    height: 100%;
    clip-path: polygon(var(--tab-side) 0px, 100% 0px, 100% 100%, 0% 100%, 0px var(--tab-side));
}
#container .box {
    /* margin: 0 calc(-1 * var(--tab-border-size)) calc(-1 * var(--tab-side)) 0; */
}
.power-red {
    background-image: var(--power-red);
}
.innovation-green {
    background-image: var(--innovation-green);
}
.pr-purple {
    background-image: var(--pr-purple);
}
.news-orange {
    background-image: var(--news-orange);
}
.culture-blue {
    background-image: var(--culture-blue);
}
.climate-yellow {
    background-image: var(--climate-yellow);
}
.featured-yellow {
    background-image: var(--featured-yellow);
}
.history-blue {
    background-image: var(--history-blue);
}

.power-red a.article:hover,
.innovation-green a.article:hover,
.pr-purple a.article:hover,
.news-orange a.article:hover,
.climate-yellow a.article:hover,
.featured-yellow a.author:hover{
    background: #9fd0e4;
}
.power-red a.author:hover,
.innovation-green a.author:hover,
.pr-purple a.author:hover,
.news-orange a.author:hover,
.culture-blue a.author:hover,
.climate-yellow a.author:hover,
.history-blue a.pub:hover {
    background: #ffff73;
}
.power-red a.pub:hover,
.innovation-green a.pub:hover,
.pr-purple a.pub:hover,
.news-orange a.pub:hover,
.culture-blue a.pub:hover,
.featured-yellow a.pub:hover {
    background: #96d5b6;
}

.culture-blue a.article:hover,
.climate-yellow a.pub:hover,
.history-blue a.article:hover {
    background: #f1718d;
}
.history-blue a.author:hover,
.featured-yellow a.article:hover {
    background: #fdbc7a;
}

/* https://stackoverflow.com/questions/16377972/how-to-align-left-last-row-line-in-multiple-line-flexbox */
.empty-space-childs {
    width: var(--box-width); /*the width of the images in this example*/
    height: 0; /*Important! for the divs to collapse should they fall in a new row*/
}

/* .box.placeholder { */
/*     opacity: 0%; */
/*     background-image: none; */
/*     clip-path: none; */
/* } */

svg.header {
    max-width: 680px;
    display: block;
    margin: 0 auto;
}

svg.header:nth-child(2) {
    max-width: 412px;
}

svg.header text {
    dominant-baseline: central;
    text-transform: uppercase;
    fill: white;
    stroke: black;
    stroke-width: 1;
    font-weight: bold;
    text-anchor: middle;
    font-size: 44px;
}

.box-tab {
    width: calc(100% - var(--tab-side) - var(--tab-border-size));
    left: var(--tab-side);
    background: none;
    border: var(--tab-border);
    border-left: none;
    border-bottom: none;
    position: relative;
    height: calc(var(--tab-side) - var(--tab-border-size));
}

.box-tab:before {
    content: '';
    display: block;
    position: absolute;
    width: 0;
    height: var(--tab-hypotenuse);
    border-left: var(--tab-border);
    transform-origin: 0% 0%;
    transform: rotate(45deg);
    top: calc(-1 * var(--tab-border-size));
}

.box-content {
    height: calc(100% - var(--tab-side) - var(--tab-border-size));
    border: var(--tab-border);
    border-top: none;
    position: relative;
}

.dateline {
    margin-top: 5px;
    text-transform: uppercase;
}

svg.rule polyline {
    fill: none;
    stroke: black;
    stroke-width: 2.4px;
    stroke-miterlimit: 10;
}

.box.mini {
    background-image: var(--innovation-green);
    height: 186px;
    width: 310px;
    clip-path: polygon(var(--tab-side) 0px, 100% 0px, 100% 100%, 0% 100%, 0px var(--tab-side));
}

.box.mini.up {
    clip-path: polygon(0% 0%, calc(var(--tab-border-size) + var(--tab-border-size) / 2) 0px, calc(var(--mini-tab-side) + var(--tab-border-size) / 2) calc(var(--mini-tab-side) - var(--tab-border-size)), 100% calc(var(--mini-tab-side) - var(--tab-border-size)), 100% 100%, 0% 100%, 0px 0px);
    height: 170px;
}

.box.mini.up .box-tab {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: var(--tab-border);
    width: calc(100% - var(--mini-tab-side));
    left: var(--mini-tab-side);
    height: calc(var(--mini-tab-side) - var(--tab-border-size));
}

.box.mini.up .box-tab:before {
    transform: rotate(-45deg);
    top: auto;
    left: calc(-1 * var(--mini-tab-side));
    height: var(--mini-tab-hypotenuse);
}    

.box.mini.up .box-content {
    position: relative;
    height: calc(100% - var(--mini-tab-side) - var(--tab-border-size));
}

.box.mini.up .box-content:before {
    content: "";
    display: block;
    width: 0;
    height: var(--mini-tab-side);
    border-left: var(--tab-border);
    position: absolute;
    top: calc(-1 * var(--mini-tab-side));
    left: calc(-1 * var(--tab-border-size));
}

.box h1 img {
    display: inline;
    vertical-align: middle;
    height: 1.7em;
    padding: 0;
    margin: 0;
    position: relative;
    top: -4px;
    left: 8px;
}

.icon-bar {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 20px;
    top: 5px;
    align-items: center;
}

.icon-bar img {
    padding: 0;
    display: block;
}

#music-box .icon-bar img:nth-child(1) {
    width: 32px;
    height: 40px;
}
#music-box .icon-bar img:nth-child(2) {
    width: 37px;
    height: 46px;
}
#music-box .icon-bar img:nth-child(3) {
    width: 36px;
    height: 30px;
    margin-top: 5px;
}

#music-box {
    background-image: var(--innovation-green);
}
#newsletter-box {
    background-image: var(--power-red);
}
#submit-link-box {
    background-image: var(--history-blue);
}
#submit-link-box .icon-bar {
    max-width: 45px;
    white-space: nowrap;
}
#submit-link-box .icon-bar h2 {
    margin-top: 10px;
}
#archive-box {
    background-image: var(--news-orange);
}

#music-box .embed {
    position: relative;
    top: -7px;
    right: 5px;
}

#newsletter-box input::placeholder {
    text-align: right;
}

#newsletter-box form {
    pointer-events: none;
}

.box.mini.up h1 {
     top: 52px;
}

.box.mini.up form {
    position: relative;
    top: 58px;
}

.box.mini.up input {
    width: 165px;
}

.box.mini.up .icon-bar {
    top: 15px;
    right: 23px;
}

#submit-link-box {
    /* margin-top: calc(-1 * var(--mini-tab-side)); */
}

.box.mini.up .icon-bar img.network {
    width: 45px;
    height: 62px;
}
.box.mini.up .icon-bar img.inbox {
    width: 43px;
}

.box.mini.up .icon-bar a {
    z-index: 300;
}

#newsletter-box .icon-bar {
    top: 74px;
}

#newsletter-box .icon-bar img {
    width: 43px;
    height: 40px;
}

.top-rule polyline {
    fill: none;
    stroke: black;
    stroke-width: 1px;
    stroke-miterlimit: 10;
}

.top-rule {
    width: var(--box-width);
    position: absolute;
    top: -23px;
}

.hidden {
    display: none;
}

.top-rule a.social {
    position: absolute;
    top: -59px;
    font-style: normal;
    font-size: 9px;
    text-align: center;
    left: 0;
}

.top-rule a.social:nth-child(2) {
    left: 21px;
    top: -16px;
}

.top-rule a.social img {
    width: 40px;
    padding: 0;
}
.top-rule a.social:nth-child(2) img {
    margin: -7px;
    width: 43px;
}

#footer #substack {
    position: relative;
    top: -8px;
    left: 37px;
    transform-origin: top right;
    transform: rotate(10deg);
}

.box .featured-yellow li {
    font-size: 17px;
}

.box .featured-yellow li img {
    padding-right: calc(100% - 140px);
    padding-left: 0px;
    width: 140px;
}

.featured-yellow .dateline {
    position: absolute;
    right: 28px;
    top: 14px;
    transform: rotate(-33deg);
    transform-origin: right;
}

.title-author {
    padding-right: 25px;
}

#legal {
    display: flex;
    flex-direction: row;
    padding-bottom: 50px;
    width: 100%;
    max-width: 352px;
    justify-content: space-between;
}

.legal-col {
    text-align: center;
}

.legal-col img {
    height: 42px;
    margin-left: 4px;
    margin-right: 4px;
    margin-bottom: 16px;
    display: block;
}

.icon-row {
    display: flex;
}

#legal .copy {
    text-transform: uppercase;
    font-size: 14px;
}

.box.para {
    max-width: 800px;
    width: 100%;
}

.box.para h1, .box.para svg.brush {
    top: 0;
}

.box.para .box-content {
    border: none;
}

pre {
    white-space: pre-wrap;
    font-family: sans-serif;
    padding: 0 28px;
}
