:root {
    --tab-side: 28px;
    --mini-tab-side: 21px;
    --tab-hypotenuse: 39.6px; /* tab side * Math.sqrt(2) */
    --mini-tab-hypotenuse: 29.5px;
    --tab-border-size: 2px;
    --tab-border: var(--tab-border-size) solid black;
    --innovation-green: linear-gradient(270deg, #96d5b6, #bbe4cd, #d1eddd);
    --culture-blue: linear-gradient(270deg, #a6b6d7, #c0cee4, #dbe1ef);
    --news-orange: linear-gradient(270deg, #fdbc7a, #fed9b0, #fee6c9);
    --power-red: linear-gradient(270deg, #f1718d, #fde2f0);
    --climate-yellow: linear-gradient(270deg, #cce97b, #d3edac, #e9f6d4);
    --pr-purple: linear-gradient(270deg, #aaacd2, #cbcbe3, #e6e6f1);
    --featured-yellow: radial-gradient(#ffffde, #ffffba, #ffff73);
    --history-blue: linear-gradient(270deg, #9fd0e4, #b3e2ee, #dbf2f7);
}

body {
    margin: 0;
    background-image: linear-gradient(90deg, #9cca76, #f1718d, #83b9d0, #f7ef81, #f1718d, #f7ef81, #83b9d0, #9cca76);
    font-family: sans-serif;
    font-style: italic;
}

a:hover {
    background: #ffff008a;
}

a:hover:nth-child(2) {
    background: #00f3ff8a;
}

.dateline a:hover {
    background: #ffa700b8;
}

a, a:visited {
    color: black;
    text-decoration: none;
}

h1 {
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: normal;
}

ul {
    margin: 0;
    list-style: none;
}

#container, #footer {
    display: flex;
}

#container {
    flex-wrap: wrap;
    justify-content: center;
}

#footer {
    flex-direction: column;
    align-items: flex-end;
    padding: 20px;
}

img.brush {
    width: 140px;
    display: block;
    margin-top: 4px;
}

.box svg.rule {
    padding: 0;
    position: relative;
    left: -17px;
}

.box li {
    font-size: 14px;
    padding: 9px 10px 0 0;
    line-height: 120%;
}

.box h1, .box img.brush {
    position: relative;
    top: -10px;
}

#container .box h1:after {
    content: " ...";
}

.box h1, .box img, .box ul {
    padding-left: 28px;
}

#container .box {
    min-height: 400px;
}

.box {
    width: 360px;
    text-align: left;
    background: var(--red);
    clip-path: polygon(var(--tab-side) 0px, 100% 0px, 100% 100%, 0% 100%, 0px var(--tab-side));
    /* margin: 0 0 calc(-1 * var(--tab-side)) 0; */
}
#container .box:nth-child(1) {
    background-image: var(--power-red);
}
#container .box:nth-child(2) {
    background-image: var(--innovation-green);
}
#container .box:nth-child(3) {
    background-image: var(--culture-blue);
}
#container .box:nth-child(4) {
    background-image: var(--news-orange);
}
#container .box:nth-child(5) {
    background-image: var(--climate-yellow);
}
#container .box:nth-child(6) {
    background-image: var(--pr-purple);
}
#container .box:nth-child(7) {
    background-image: var(--featured-yellow);
}
#container .box:nth-child(8) {
    background-image: var(--history-blue);
}

.box.placeholder {
    opacity: 0%;
    background-image: none;
    clip-path: none;
}

svg#header {
    max-width: 800px;
    display: block;
    margin: 0 auto;
}

svg#header text {
    dominant-baseline: central;
    text-transform: uppercase;
    fill: white;
    stroke: black;
    stroke-width: 1;
    font-weight: bold;
    text-anchor: middle;
    font-size: 44px;
}

.box-tab {
    width: calc(100% - var(--tab-side) - var(--tab-border-size));
    left: var(--tab-side);
    background: none;
    border: var(--tab-border);
    border-left: none;
    border-bottom: none;
    position: relative;
    height: calc(var(--tab-side) - var(--tab-border-size));
}

.box-tab:before {
    content: '';
    display: block;
    position: absolute;
    width: 0;
    height: var(--tab-hypotenuse);
    border-left: var(--tab-border);
    transform-origin: 0% 0%;
    transform: rotate(45deg);
    top: calc(-1 * var(--tab-border-size));
}

.box-content {
    height: calc(100% - var(--tab-side) - var(--tab-border-size));
    border: var(--tab-border);
    border-top: none;
}

.dateline {
    margin-top: 5px;
    text-transform: uppercase;
}

svg.rule polyline {
    fill: none;
    stroke: black;
    stroke-width: 2.4px;
    stroke-miterlimit: 10;
}

.box.mini {
    background-image: var(--innovation-green);
    height: 200px;
    width: 300px;
}

.box.mini.up {
    clip-path: polygon(0% 0%, calc(var(--tab-border-size) + var(--tab-border-size) / 2) 0px, calc(var(--mini-tab-side) + var(--tab-border-size) / 2) calc(var(--mini-tab-side) - var(--tab-border-size)), 100% calc(var(--mini-tab-side) - var(--tab-border-size)), 100% 100%, 0% 100%, 0px 0px);
    margin-bottom: calc(-1 * var(--mini-tab-side));
}

.box.mini.up .box-tab {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: var(--tab-border);
    width: calc(100% - var(--mini-tab-side));
    left: var(--mini-tab-side);
    height: calc(var(--mini-tab-side) - var(--tab-border-size));
}

.box.mini.up .box-tab:before {
    transform: rotate(-45deg);
    top: auto;
    left: calc(-1 * var(--mini-tab-side));
    height: var(--mini-tab-hypotenuse);
}    

.box.mini.up .box-content {
    position: relative;
    height: calc(100% - var(--mini-tab-side) - var(--tab-border-size));
}

.box.mini.up .box-content:before {
    content: "";
    display: block;
    width: 0;
    height: var(--mini-tab-side);
    border-left: var(--tab-border);
    position: absolute;
    top: calc(-1 * var(--mini-tab-side));
    left: calc(-1 * var(--tab-border-size));
}

.box.mini.up h1 {
    top: 10px;
}
